body {
    background-image: url("../img/background.jpg");
    padding-top: 50px;
  }
  .starter-template {
    padding: 40px 15px;
    text-align: center;
  }

  .booth {
    width: 420px;
    border: 10px solid black;
    background-image: url("../img/booth.jpg");
    margin: 0 auto;
  }

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: DodgerBlue;
}

.flex-container > img {
  background-color: #f1f1f1;
  height: 100px;
  width: 100px;
  margin: 10px;
}